/.prove
/BBBike-[1-9]*-DEVEL.tar.gz
/BBBikeVar.tpl
/ChangeLog
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/Task/BBBike/*/MYMETA.json
/Task/BBBike/*/MYMETA.yml
/Task/BBBike/*/Makefile
/Task/BBBike/*/blib
/Task/BBBike/*/pm_to_blib
/bbbike_1.config
/blib
/cache/
/data-osm
/data_*
/distfiles
/nytprof.out*
/nytprof/
/tmp/
/cover_db/
/.coveralls.yml
