/.prove
/BBBikeVar.tpl
/ChangeLog
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/Task/BBBike/*/MYMETA.json
/Task/BBBike/*/MYMETA.yml
/Task/BBBike/*/Makefile
/Task/BBBike/*/blib
/Task/BBBike/*/pm_to_blib
/blib
/cache/
cover_db
/data-osm
/data_*
/distfiles
/nytprof.out*
/nytprof/
/tmp/
