branches:
  except:
    - /travis/
skip_tags: true
shallow_clone: true

cache:
  - C:\strawberry

install:
  - if not exist "C:\strawberry" cinst --allow-empty-checksums strawberryperl
  - set PATH=C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  - cd C:\projects\%APPVEYOR_PROJECT_NAME%\Task\BBBike\windist
  - cpanm --installdeps .
# For building ext and additional tests
# DB_File::Lock fails tests on newer perls, see https://rt.cpan.org/Ticket/Display.html?id=98224
  - cpanm --notest DB_File::Lock
  - cpanm Inline::C XBase Date::Calc Image::ExifTool HTML::FormatText Object::Realize::Later
  - cd C:\projects\%APPVEYOR_PROJECT_NAME%

build_script:
  - perl Makefile.PL
  - cd ext
  - gmake -f DMakefile ext
  - cd ..
  - cd t
  - set BBBIKE_TEST_GUI=1
  - gmake test-no-cgi
