# -*- perl -*-

# Install configuration for BBBike
#use BBBikeVar;

# The title of the program. If not given, $main_program will be used for
# this.
#$program_title  = "BBBike";
$is_bbbike = 1;

#  # The basename of the main program
#  $main_program   = "bbbike";

#  # The description of the main program
#  $main_description = "BBBike - ein Routenplaner für Radfahrer in Berlin und Brandenburg";

#  # Additional standard arguments for normal startup
#  @main_program_arguments = ();

#  # The basename of a console program (without Tk)
#  $console_program = "cbbbike";

#  # The basename of a program serving as client in a client-server-mode
#  $client_program = "bbbikeclient";

#  # Default for using a client-server-mode. If undefined, then no
#  # client-server-mode will be possible
#  $use_client_server_mode = 0;

#  # (Don't) put into autostart folder
#  $use_autostart = undef;

#  # The name of a HTML documentation file
#  $html_documentation = "bbbike.html";

#  # The main homepage of the program, presented as a URL
#  $homepage = $BBBike::BBBIKE_WWW;

#  # Module extensions to be compiled and installed
#  @module_ext = ('BBBikeXS');
#  push @module_ext, 'VirtArray' if $^O ne 'MSWin32'; # no mmap

#  if ($0 eq '/usr/local/BBBike/install.pl' &&
#      $^O =~ /((free|net|open)bsd|bsdi)$/) {
#      # don't compile extensions --- the BSD port already did this
#      $extensions = 0;
#  }

#  # Create desktop icon (boolean)
#  $desktop_icon = 1;

#  # Path to the Unix icon (as a partial path)
#  $unix_icon = "images/srtbike.xpm";

#  # Path to the Unix mini icon (as a partial path)
#  $unix_mini_icon = "images/srtbike_mini.xpm";

#  # Path to the Windows icon (as a partial path)
#  $win_icon = "images/srtbike.ico";

#  # Path to the Windows icon for the WWW version (as a partial path)
#  $win_www_icon = "images/srtbike_www.ico";

#  # Windows extensions to be installed in the registry
#  @win_extensions =
#      ({'-extension' => '.bbr',
#        '-name'      => 'BBBike.Route',
#        '-desc'      => 'BBBike-Route',
#        '-mime'      => "application/x-bbbike-route",
#       });
