/Berlin.coords.data
/Potsdam.coords.data
/ampeln
/berlin
/comments_cyclepath
/comments_ferry
/comments_misc
/comments_mount
/comments_path
/comments_route
/comments_scenic
/comments_tram
/fragezeichen
/handicap_s
/landstrassen
/landstrassen2
/plaetze
/qualitaet_s
