# KDE Config File
[KDE Desktop Entry]
SwallowExec=
SwallowTitle=
#BinaryPattern=bbbike
Name=BBBike
Protocols=file;
MimeType=application/x-bbbike-route;application/x-gpstrack;application/x-bbbike-data;
Comment[de]=Routenplaner für Radfahrer in Berlin und Brandenburg
Comment=Search routes for cyclists in Berlin and Brandenburg
#Exec=%%PREFIX%%/bin/bbbike %f
Exec=%%PREFIX%%/bin/bbbikeclient %f
Icon=srtbike.xpm
TerminalOptions=
Path=
DocPath=%%PREFIX%%/BBBike/bbbike.html
Type=Application
Terminal=0
MiniIcon=srtbike_mini.xpm

