# KDE Config File
[KDE Desktop Entry]
Name=BBBike documentation
MiniIcon=@BBBIKEDIR@/srtbike_mini.xpm
Name[de]=BBBike-Dokumentation
URL=file:%%DOCDIR%%/bbbike.html
Icon=@BBBIKEDIR@/srtbike.xpm
Type=Link
