# KDE Config File
[KDE Desktop Entry]
URL=http://www.bbbike.de/
Name=BBBike im WWW
Comment[de]=BBBike als WWW-Version
Comment=The WWW version of BBBike
Icon=@BBBIKEDIR@/srtbike_www.xpm
Type=Service
MiniIcon=@BBBIKEDIR@/srtbike_mini.xpm

