[Desktop Entry]
Comment=Search routes for cyclists in Berlin and Brandenburg
Comment[de]=Routenplaner für Radfahrer in Berlin und Brandenburg
DocPath=@DOCPATH@
Encoding=UTF-8
Exec=@EXEC@
Icon=@BBBIKEDIR@/images/srtbike.xpm
MimeType=application/x-bbbike-route;application/x-gpstrack;application/x-bbbike-data;application/gpx+xml;application/vnd.google-earth.kml+xml;
MiniIcon=@BBBIKEDIR@/images/srtbike_mini.xpm
Name=BBBike
Path=
Protocols=file;
Terminal=false
TerminalOptions=
Type=Application
Categories=Utility;Cartography;
X-KDE-SubstituteUID=false
X-KDE-Username=
