# KDE Config File
[KDE Desktop Entry]
Type=MimeType
MimeType=application/x-bbbike-data
Icon=@BBBIKEDIR@/images/srtbike32.xpm
Patterns=*.bbd;*.BBD;
DefaultApp=BBBike
Comment=BBBike data
Comment[de]=BBBike-Daten
