# KDE Config File
[KDE Desktop Entry]
Type=MimeType
MimeType=application/x-bbbike-route
Icon=@BBBIKEDIR@/images/srtbike32.xpm
Patterns=*.bbr;*.BBR;
DefaultApp=BBBike
Comment=BBBike route
Comment[de]=BBBike-Route
