# -*- cperl -*-
require FindBin;
do "$FindBin::RealBin/bbbike-debian-no-mapserver.cgi.config";

######################################################################
# MAPSERVER
# assumes that mapserver-bin and cgi-mapserver are installed
$can_mapserver = 1;
$mapserver_prog_relurl = "/cgi-bin/mapserv";
# Cannot use $ENV{SERVER_NAME} because it is also called offline for mapserver template generation
$mapserver_prog_url = "http://localhost$mapserver_prog_relurl";
$mapserver_dir = "$BBBIKE_ROOT/mapserver/brb";
$bbd2esri_prog = "$BBBIKE_ROOT/miscsrc/bbd2esri";

1; # may be required, should return true
