# -*- cperl -*-
# Derived from bbbike-debian-no-mapserver.cgi.config
# Assume that all dependencies are installed, and some additional differences

require File::Basename;
require Cwd;

my $BBBIKE_ROOT = Cwd::realpath(File::Basename::dirname(Cwd::realpath(__FILE__))."/..");
my($staging_color) = $BBBIKE_ROOT =~ m{-(blue|red)};
$Strassen::Util::cacheprefix = "b_de_" . $staging_color;

#eval 'use Carp::Always'; # debugging helper

######################################################################
# temporary blockings
$bbbike_temp_blockings_file = "$BBBIKE_ROOT/data/temp_blockings/bbbike-temp-blockings.pl";
$bbbike_temp_blockings_optimized_file = "$BBBIKE_ROOT/data/temp_blockings/bbbike-temp-blockings-optimized.pl";

######################################################################
# cgi-bin vs. cgi layout
if (($ENV{SCRIPT_NAME}||'') =~ m{^/cgi-bin/}) {
    $use_cgi_bin_layout = 1;
}

######################################################################
# gpx, kml, google maps...
$can_google_maps = 0;
my $xml_libxml_is_available = 1;
$can_gpx = $xml_libxml_is_available;
$can_kml = $xml_libxml_is_available;

######################################################################
# SESSIONS
my $apache_session_counted_is_available = 1;
if ($apache_session_counted_is_available) {
    $use_apache_session = 1;
    $apache_session_module = 'Apache::Session::Counted';
}

######################################################################
# MISC
$use_utf8 = 0;

$use_fragezeichen = 1;

$with_lang_switch = 1;

# Otherwise bugs! cgi.t won't run cleanly
$use_exact_streetchooser = 1;

# Prefer Cairo over PDFCairo if available:
my $cairo_is_available = 1;
$bbbikedraw_pdf_module = 'PDFCairo' if $cairo_is_available;

## libpdf-create-perl (PDF::Create) should really always be installed...
#my $pdf_create_is_available = sub {
#    for (@INC) {
#	return 1 if -r "$_/PDF/Create.pm";
#    }
#    0;
#}->();
#$cannot_pdf = !$pdf_create_is_available;

# Larger overview map, also some tests in t/cgi.t (Döberitzer
# Heide...) may fail otherwise
$use_region_image = 1;

$can_gpsies_link = 1;

######################################################################
# BBBIKE BETA
if (($ENV{SCRIPT_NAME}||'') =~ /bbbike2/) {
    $with_cat_display = 1;
    $include_outer_region = 1;
}

$use_file_cache = 1;

$Strassen::Util::TRACE_CACHE_WRITES = 1;

$StrassenNetz::use_heap = 1;

$use_cooked_street_data = 1;

1; # may be required, should return true
