# -*- perl -*-

use lib ("/home/e/eserte/lib/perl",
	 "/home/e/eserte/lib/site_perl/5.8.4",
	 "/home/e/eserte/lib/site_perl",
	);

$can_palmdoc = 1; # XXX ja?
$use_coord_link = 0; # XXX solange mapserver noch nicht funktioniert

# $BBBikeDraw::GD::TTF_STREET = ""; XXX find or install a suitable ttf

# Mapserver section
#  $can_mapserver = 1;
#  $mapserver_dir = "/home/e/eserte/src/bbbike/mapserver/brb";
#  $mapserver_prog_relurl = "/~eserte/cgi/mapserv.cgi";
#  $mapserver_prog_url = "http://www" . $mapserver_prog_relurl;
#  $mapserver_address_url = "http://www/~eserte/bbbike/cgi/mapserver_address.cgi";
#  $bbd2esri_prog = "/home/e/eserte/src/bbbike/miscsrc/bbd2esri";

#$can_mapserver = 1;
#$cannot_gif_png = 1;
$can_google_maps = 1;
$can_gpx = 1;
$use_module = "Imager";

$bbbike_temp_blockings_file = "/home/e/eserte/www/bbbike/data/temp_blockings/bbbike-temp-blockings.pl";
$bbbike_temp_blockings_optimized_file = "/home/e/eserte/www/bbbike/data/temp_blockings/bbbike-temp-blockings-optimized.pl";

1;

=pod

Notes for installation on cs:

* Is there a bbbike-old directory on remote? Then rename it to bbbike-new, to
  make rsync operation quicker. Or even copy bbbike to bbbike-new, but this
  could be slow.

* rsync the whole bbbike/ CVS directory to ~/www/bbbike-new/

    cd ../projects/www.radzeit.de
    rsync --exclude tmp/ -av BBBike/ user.cs.tu-berlin.de:www/bbbike-new/
    rsync -av ../../cgi/bbbike-cs.cgi.config user.cs.tu-berlin.de:www/bbbike-new/cgi/
    rsync -av ../../cgi/bbbike-cs-umzug.html user.cs.tu-berlin.de:www/bbbike-new/cgi/

* in cgi:

    rm bbbike.cgi.config
    ln -s bbbike-cs.cgi.config bbbike.cgi.config

Check in L<http://user.cs.tu-berlin.de/~eserte/bbbike-new/cgi/bbbike.cgi>

Everything works? Then exchange old and new directory.

Then rename, to avoid confusion:

    mv bbbike-new bbbike-old

Later:

* installed Imager (needed to remove some "const" in fills.c, Imager 0.54)
  so I can use PNG output with $use_module="Imager"

* installed XML::Twig (needed to use "force" because of a test failure)
  so I can set $use_gpx to true

* installed URI per CPAN for bbbikegooglemap.cgi (but it still does not work...)

=cut
