# -*- cperl -*-

require File::Basename;
require Cwd;

my $BBBIKE_ROOT = Cwd::realpath(File::Basename::dirname(__FILE__)."/..");
do "$BBBIKE_ROOT/cgi/bbbike-debian-no-mapserver.cgi.config";

######################################################################
# MAPSERVER
# assumes that mapserver-bin and cgi-mapserver are installed
$can_mapserver = 1;
$mapserver_prog_relurl = "/cgi-bin/mapserv";
# Use $ENV{SERVER_NAME} in CGI operation and localhost in offline operation (i.e. for mapserver template generation)
$mapserver_prog_url = "http://" . ($ENV{SERVER_NAME} || 'localhost') . "$mapserver_prog_relurl";
$mapserver_dir = "$BBBIKE_ROOT/mapserver/brb";
$bbd2esri_prog = "$BBBIKE_ROOT/miscsrc/bbd2esri";
$mapserver_address_url = 'mapserver_address.cgi';

1; # may be required, should return true
