require File::Basename;
require Cwd;

$BBBIKE_ROOT = Cwd::realpath(File::Basename::dirname(__FILE__)."/..");

do "$BBBIKE_ROOT/cgi/bbbike-biokovo.cgi.config";

# Mapserver 5.6.3 @ FreeBSD has sometimes segfaults, so use GD instead...
#$detailmap_module = "GD";

#$bbbikedraw_pdf_module = undef;
#$Route::PDF::Cairo::DONT_USE_PANGO = 1;

my $HTTP_HOST = defined $ENV{HTTP_HOST} ? $ENV{HTTP_HOST} : "localhost";
if ($HTTP_HOST eq 'bbbike.rezic.localdomain') {
    $mapserver_prog_url = "http://localhost/cgi-bin/mapserv";
}

1;
