# -*- cperl -*-
require FindBin;

do "$FindBin::RealBin/bbbike-test.cgi.config";

# Quite uninteresting image formats, nowadays:
$can_gif = 1;
$can_wbmp = 1;

$search_algorithm = 'C-A*' unless $^O eq 'MSWin32'; # XXX really only on vran/biokovo!

$use_mysql_db = 1;
push @INC, "$FindBin::RealBin/../miscsrc"; # for Telbuch(DB)Approx

$with_cat_display = 1;

$include_outer_region = 1;

if (1) {
    my @l = localtime;
    my $m = $l[4]+1;
    $use_winter_optimization = ($m >= 11 || $m <= 3);
    $winter_hardness = 'dry_cold';
}

1; # may be required
