# -*- cperl -*-
require FindBin;
my $BBBIKE_ROOT = "$FindBin::RealBin/..";
@Strassen::datadirs = ("$BBBIKE_ROOT/t/data");
$bbbike_temp_blockings_file = "$BBBIKE_ROOT/t/data/temp_blockings/bbbike-temp-blockings.pl";
# Important: to avoid clashes with cached original data
$Strassen::Util::cacheprefix = "test_b_de";
# cgi-test.t must pass regardless of the $use_utf8 value
#$use_utf8 = 1;

if (eval { require Apache::Session::Counted; 1 }) {
    $use_apache_session = 1;
    $apache_session_module = 'Apache::Session::Counted';
} elsif (eval { require Apache::Session; 1 }) {
    $use_apache_session = 1;
    undef $apache_session_module;
} else {
    warn "Neither Apache::Session::Counted nor Apache::Session available in cgi-test.t";
}

1; # may be required
