# -*- perl -*-

require FindBin;

my $is_dyndns = defined $ENV{HTTP_HOST} && $ENV{HTTP_HOST} eq 'bbbike.dyndns.org';

# zu Test-Zwecken auf 1 setzen:
$PLZ::OLD_AGREP = $Strassen::OLD_AGREP = 0;

#$mapdir_url = '/~eserte/bbbike-tmp';
#$mapdir_fs  = '/home/e/eserte/www/bbbike-tmp';
$ENV{HOME} = '/home/e/eserte'; # dummy für agrep, also real value for wettermeldung2 and @Strassen::datadirs

@Strassen::datadirs = "$ENV{HOME}/src/bbbike/data";

# @weather_cmdline = ("$FindBin::RealBin/../lib/wettermeldung2",
# 		    '-dahlem1',
# 		    #'-synop_berlin_tempelhof', # geht nicht, da hier nicht maxwind definiert ist
# 		    '-lastinfile');

@weather_cmdline = ("$ENV{HOME}/src/bbbike/lib/parse_wetterkarte", qw(fetch_and_store -windrose));

## XXX kein Effekt?
#$use_umland = 1;
#$use_umland_jwd = 1;

$^W = 1 unless defined $ENV{SERVER_NAME}; # i.e. commandline operation

$cannot_jpeg = 0;
$cannot_svg = 0; # XXX Mozilla stürzt mit SVG ab!
$can_palmdoc = 1;
$can_mapserver = 1;
$can_gif = 1;
$can_wbmp = 1;
$ENV{PATH} .= ":/usr/local/bin" if $ENV{PATH} !~ m{/usr/local/bin}; # for netpbm
$GD::Convert::DEBUG=0;
#$GD::Convert::DEBUG=10;#XXX
#$use_module = "Imager"; # slow
#$use_module = "ImageMagick"; # even slower...

#$search_algorithm = 'A*';
$search_algorithm = 'C-A*' unless $^O eq 'MSWin32'; # XXX really only on vran/biokovo!
##XXX unstable, segfaults, gives wrong results with blocked nets:
#$search_algorithm = 'C-A*-2';#XXX does not work ? ... See comment in StrassenNetz/CNetFilePerl.pm

$use_mysql_db = 1;
push @INC, "$FindBin::RealBin/../miscsrc"; # for Telbuch(DB)Approx

# Otherwise bugs! cgi.t won't run cleanly
$use_exact_streetchooser = 1;

#$use_apache_session = 1;
#$apache_session_module = "Apache::Session::File";

$use_apache_session = 1;
$apache_session_module = "Apache::Session::Counted";

$use_special_destinations = 0;

$use_coord_link = 1;

# Mapserver section
$mapserver_dir = "/home/e/eserte/src/bbbike/mapserver/brb";
if (1) { # usually linked to CVS version
    $mapserver_prog_relurl = "/~eserte/cgi/mapserv.cgi";
    $mapserver_prog_url = "http://www" . $mapserver_prog_relurl;
} else { # This is the newest mapserver installed from FreeBSD ports (but with many bugs)
    $mapserver_prog_relurl = "/cgi-bin/mapserv";
    $mapserver_prog_url = "http://www" . $mapserver_prog_relurl;
}

$mapserver_address_url = "http://www/~eserte/bbbike/cgi/mapserver_address.cgi";
$bbd2esri_prog = "/home/e/eserte/src/bbbike/miscsrc/bbd2esri";
require Config;
if ($Config::Config{archname} =~ m{amd64-freebsd}) {
    $mapserver_bin_dir = "/usr/local/src/work/mapserver-amd64";
} else {
    #$mapserver_bin_dir = "/usr/local/src/mapserver/mapserver-3.6.4";
    $mapserver_bin_dir = "/usr/local/bin";
}
require Sys::Hostname;
if (Sys::Hostname::hostname() eq 'vran.herceg.de') {
    $mapserver_fonts_list = "fonts-vran.list";
} else {
    $mapserver_fonts_list = "fonts-biokovo.list";
}
#$BBBikeDraw::MapServer::DEBUG = 1;

$local_route_dir = "/home/e/eserte/src/bbbike/mapserver/touren";

# MapServer kann jetzt auch imagemaps erzeugen, aber imagemaps
# sind groß und funktionieren nicht auf allen Browsern so gut.
$create_imagemap = $use_imagemap = 0;
$detailmap_module = "MapServer";

$can_google_maps = 1;
$can_gpx = 1;
$can_kml = 1;

# zum Testen
$Strassen::OLD_AGREP = 0;
$PLZ::OLD_AGREP = 0;
$debug = 1;
$VERBOSE = 0; # funktioniert nicht mit FCGI
$WAP_URL = "/~eserte/bbbike/cgi/wapbbbike.cgi";

if (defined $ENV{SERVER_SOFTWARE} && $ENV{SERVER_SOFTWARE} =~ /HTTPi|TinyHTTPD/) { # started from runbbbikecgi
    $mapdir_url = '/bbbike/tmp';
    $mapdir_fs  = "$FindBin::RealBin/../tmp";
}

# wapbbbike section
$wapbbbike_use_mapserver = 1;

$bbbike_temp_blockings_file = "$FindBin::RealBin/../data/temp_blockings/bbbike-temp-blockings.pl";

$bbbike_temp_blockings_optimized_file = "$FindBin::RealBin/../data/temp_blockings/bbbike-temp-blockings-optimized.pl";

# XXX This option may be removed some day:
$use_cooked_street_data = 1;

if (1) {
    my @l = localtime;
    my $m = $l[4]+1;
    $use_winter_optimization = ($m >= 11 || $m <= 3);
    $winter_hardness = 'dry_cold';
}

$use_fragezeichen = 1;

# Show street categories in route list?
$with_cat_display = 1;

#XXX NYI
#$with_fullsearch_radio = 1;

# Switch between german and english?
$with_lang_switch = 1;

# Compress all output?
$use_cgi_compress_gzip = 1;

# Compress route maps (currently only for routes)?
$use_bbbikedraw_compress = 1;

# Use slightly larger image:
$use_region_image = 1;

if ($is_dyndns) {
    for ($mapserver_prog_url, $mapserver_address_url) {
	s{http://www}{http://bbbike.dyndns.org};
    }
}

# testing first...
$include_outer_region = 1;

1;
