# -*- cperl -*-
require FindBin;
my $BBBIKE_ROOT = "$FindBin::RealBin/..";

$can_mapserver = 1;
$mapserver_prog_relurl = "/cgi-bin/mapserv";
# Cannot use $ENV{SERVER_NAME} because it is also called offline for mapserver template generation
$mapserver_prog_url = "http://localhost$mapserver_prog_relurl";
$mapserver_dir = "$BBBIKE_ROOT/mapserver/brb";
$bbd2esri_prog = "$BBBIKE_ROOT/miscsrc/bbd2esri";
$use_utf8 = 1;

$bbbike_temp_blockings_file = "$BBBIKE_ROOT/data/temp_blockings/bbbike-temp-blockings.pl";
$bbbike_temp_blockings_optimized_file = "$BBBIKE_ROOT/data/temp_blockings/bbbike-temp-blockings-optimized.pl";

$can_google_maps = 1;
my $xml_libxml_is_available = sub {
    for (@INC) {
	return 1 if -r "$_/XML/LibXML.pm";
    }
    0;
}->();
$can_gpx = $xml_libxml_is_available;
$can_kml = $xml_libxml_is_available;

$use_fragezeichen = 1;

$with_lang_switch = 1;

# Otherwise bugs! cgi.t won't run cleanly
$use_exact_streetchooser = 1;

my $apache_session_counted_is_available = sub {
    for (@INC) {
	return 1 if -r "$_/Apache/Session/Counted.pm";
    }
    0;
}->();
if ($apache_session_counted_is_available) {
    $use_apache_session = 1;
    $apache_session_module = 'Apache::Session::Counted';
}

## PDF::Create should really always be installed...
#my $pdf_create_is_available = sub {
#    for (@INC) {
#	return 1 if -r "$_/PDF/Create.pm";
#    }
#    0;
#}->();
#$cannot_pdf = !$pdf_create_is_available;

