# CONFIG ###########################################################
# Konfigurationsvariablen möglichst in bbbike.cgi.config setzen!

# Die beiden folgenden Variablen müssen geändert werden, die anderen
# bei Bedarf.

# URL für Verzeichnis, in dem die Imagemaps abgelegt werden.
# Sollte oftmals 0777 sein (wenn httpd unter nobody läuft).
$mapdir_url = '/bbbike-tmp';

# ... dazugehöriger Filesystem-Pfad
#$mapdir_fs  = (getpwuid($<))[7] . '/bbbike-tmp';
## Should be a symlink!
#$mapdir_fs = "/home/groups/b/bb/bbbike/htdocs/bbbike-tmp";
$mapdir_fs = "/tmp/persistent/bbbike";
mkdir $mapdir_fs if !-d $mapdir_fs;

BEGIN {
    if (-e "/home/groups/b/bb/bbbike/htdocs/lib/blib") {
	require blib;
	blib->import(qw(/home/groups/b/bb/bbbike/htdocs/lib));
    }
}
# Mit ::OLD_AGREP = 1 wird das Verwenden von agrep verhindert
# (stattdessen wird versucht, String::Approx zu verwenden).
# agrep < 3.0 funktioniert nicht korrekt mit Umlauten.
$Strassen::OLD_AGREP = 1;
$PLZ::OLD_AGREP      = 1;
$PLZ::OLD_AGREP      = $PLZ::OLD_AGREP; # peacify -w

# im CS-Netz ist $ENV{PATH} beim Ausführen als CGI-Skript leer
$ENV{PATH} = '' if !defined $ENV{PATH};
$ENV{PATH} = "/usr/bin:$ENV{PATH}"; # für Sys::Hostname

# Temporäres Verzeichnis für Cache-Files, Wetterdaten etc.
$tmp_dir = $ENV{TMPDIR} || $ENV{TEMP} || "/tmp";

# TRUE, wenn der Miniserver verwendet werden soll
$use_miniserver = 0;

# Miniserver: Anzahl der maximal gleichzeitig laufenden Prozesse
$max_proc = 2;

# TRUE, wenn bei zu vielen MiniSvr-Prozessen automatisch auf das langsamere
# Interface geschaltet werden soll
$auto_switch_slow = 1;

# Falls Apache::Registry verwendet wird: TRUE, wenn die globalen
# Variablen nach Request-Ende gelöscht werden sollen
$modperl_lowmem = 0;

# Falls überprüft werden soll, ob die Imagemaps gegebüber dem CGI-Programm
# und den Datenfiles noch aktuell sind.
# 0: keine Überprüfung
# 1: Check mit dem strassen-Datenfile
# 2: Check mit dem strassen-Datenfile und dem CGI-Programm
$check_map_time = 1;

# Wahr, wenn bei den Kartenquadranten eine Imagemap verwendet werden
# soll. Da dies anscheinend nur von Netscape unter FreeBSD/Linux
# unterstützt wird und auf anderen Systemen die Benutzung teilweise
# fatal ist, sollte diese Variable auf falsch gesetzt sein.
# $create_imagemap steuert die Erzeugung der Imagemap und kann ruhig auf
# wahr gesetzt werden.
$use_imagemap = 1; # XXX
$create_imagemap = 1;

# Zeigt die aktuellen Wetterdaten an.
$show_weather = 1;

# Gibt Links für URLs auf Start/Ziel aus.
$show_start_ziel_url = 1;

# Verwendung des cgi-bin-Layouts, d.h. in cgi-bin ist nur bbbike.cgi, der
# Rest ist in cgi-bin/BBBike
$use_cgi_bin_layout = 1;

# Kommandozeile für das Wetterprogramm
@weather_cmdline = ("$FindBin::RealBin/../lib/wettermeldung2", qw(-dahlem1));

# Verwendung von <SELECT> statt <INPUT TYPE=RADIO>, wenn möglich
$use_select = 1;

# Experimentell: auch Suche von Landstraßen im Umland
$use_umland = 0;

# For debugging: be verbose
$VERBOSE = 0;

# preferred graphic format: png or gif
# *** If using GD 1.20 or newer, this *must* be set to png, otherwise
# the creation of graphics will not work!
$graphic_format = 'gif';
#$graphic_format = 'png';

# XXX check it!!!
$cannot_pdf = 0;

$can_palmdoc = 1;

####################################################################

1;
