# -*- perl -*-

use lib "/home/e/eserte/lib/perl";

$can_palmdoc = 1; # XXX ja?
$use_coord_link = 0; # XXX solange mapserver noch nicht funktioniert

# $BBBikeDraw::GD::TTF_STREET = ""; XXX find or install a suitable ttf

# Mapserver section
#  $can_mapserver = 1;
#  $mapserver_dir = "/home/e/eserte/src/bbbike/mapserver/brb";
#  $mapserver_prog_relurl = "/~eserte/cgi/mapserv.cgi";
#  $mapserver_prog_url = "http://www" . $mapserver_prog_relurl;
#  $mapserver_address_url = "http://www/~eserte/bbbike/cgi/mapserver_address.cgi";
#  $bbd2esri_prog = "/home/e/eserte/src/bbbike/miscsrc/bbd2esri";

1;
