# -*- perl -*-

use lib ("/home/e/eserte/lib/perl",
	 "/home/e/eserte/lib/site_perl/5.8.4",
	 "/home/e/eserte/lib/site_perl",
	);

$can_palmdoc = 1; # XXX ja?
$use_coord_link = 0; # XXX solange mapserver noch nicht funktioniert

# $BBBikeDraw::GD::TTF_STREET = ""; XXX find or install a suitable ttf

# Mapserver section
#  $can_mapserver = 1;
#  $mapserver_dir = "/home/e/eserte/src/bbbike/mapserver/brb";
#  $mapserver_prog_relurl = "/~eserte/cgi/mapserv.cgi";
#  $mapserver_prog_url = "http://www" . $mapserver_prog_relurl;
#  $mapserver_address_url = "http://www/~eserte/bbbike/cgi/mapserver_address.cgi";
#  $bbd2esri_prog = "/home/e/eserte/src/bbbike/miscsrc/bbd2esri";

#$can_mapserver = 1;
#$cannot_gif_png = 1;
$can_google_maps = 1;
$can_gpx = 1;
$use_module = "Imager";

1;

=pod

Notes for installation on cs:

* rsync the whole bbbike/ CVS directory to ~/www/bbbike-new/

    cd ../projects/www.radzeit.de
    rsync --exclude tmp/ -av BBBike/ user.cs.tu-berlin.de:www/bbbike-new/

* in cgi:

    rm bbbike.cgi.config
    ln -s bbbike-cs.cgi.config bbbike.cgi.config

* also:

    rm bbbike-umzug.html
    ln -s bbbike-cs-umzug.html bbbike-umzug.html

Check in L<http://user.cs.tu-berlin.de/~eserte/bbbike-new/cgi/bbbike.cgi>

Everything works? Then exchange old and new directory.

Later:

* installed Imager (needed to remove some "const" in fills.c, Imager 0.54)
  so I can use PNG output with $use_module="Imager"

* installed XML::Twig (needed to use "force" because of a test failure)
  so I can set $use_gpx to true

=cut
