# Change this to switch between BBBike and BBBike2
my($BBBIKE_URL, $BBBIKE_ROOT);
my $APACHE_ROOT = "/usr/local/apache/radzeit";
my $is_herceg_de = defined $ENV{SERVER_NAME} && $ENV{SERVER_NAME} eq 'radzeit.herceg.de';
if ($is_herceg_de) {
	$BBBIKE_URL  = "BBBike";
	$APACHE_ROOT = "/home/e/eserte/src/bbbike/projects/www.radzeit.de";
	$BBBIKE_ROOT = "$APACHE_ROOT/BBBike";
} elsif ($FindBin::Script =~ /bbbike2/) {
	$BBBIKE_URL  = "BBBike2";
	$BBBIKE_ROOT = "$APACHE_ROOT/BBBike2";
} else {
	$BBBIKE_URL  = "BBBike";
	$BBBIKE_ROOT = "$APACHE_ROOT/BBBike";
}

# CONFIG ###########################################################
# Konfigurationsvariablen möglichst in bbbike.cgi.config setzen!

# Die beiden folgenden Variablen müssen geändert werden, die anderen
# bei Bedarf.

# URL für Verzeichnis, in dem die Imagemaps abgelegt werden.
# Sollte oftmals 0777 sein (wenn httpd unter nobody läuft).
$mapdir_url = '/BBBike/tmp';

# ... dazugehöriger Filesystem-Pfad
$mapdir_fs = "$APACHE_ROOT/htdocs/BBBike/tmp";

# Mit ::OLD_AGREP = 1 wird das Verwenden von agrep verhindert
# (stattdessen wird versucht, String::Approx zu verwenden).
# agrep < 3.0 funktioniert nicht korrekt mit Umlauten.
$Strassen::OLD_AGREP = 1;
$PLZ::OLD_AGREP      = 1;
$PLZ::OLD_AGREP      = $PLZ::OLD_AGREP; # peacify -w

# im CS-Netz ist $ENV{PATH} beim Ausführen als CGI-Skript leer
$ENV{PATH} = '' if !defined $ENV{PATH};
$ENV{PATH} = "/usr/bin:/usr/local/bin:$ENV{PATH}"; # für Sys::Hostname, GD::Convert

# Temporäres Verzeichnis für Cache-Files, Wetterdaten etc.
$tmp_dir = $ENV{TMPDIR} || $ENV{TEMP} || "/tmp";

# TRUE, wenn der Miniserver verwendet werden soll
$use_miniserver = 0;

# Miniserver: Anzahl der maximal gleichzeitig laufenden Prozesse
$max_proc = 2;

# TRUE, wenn bei zu vielen MiniSvr-Prozessen automatisch auf das langsamere
# Interface geschaltet werden soll
$auto_switch_slow = 1;

# Falls Apache::Registry verwendet wird: TRUE, wenn die globalen
# Variablen nach Request-Ende gelöscht werden sollen
$modperl_lowmem = 0;

# Falls überprüft werden soll, ob die Imagemaps gegebüber dem CGI-Programm
# und den Datenfiles noch aktuell sind.
# 0: keine Überprüfung
# 1: Check mit dem strassen-Datenfile
# 2: Check mit dem strassen-Datenfile und dem CGI-Programm
$check_map_time = 1;

# Wahr, wenn bei den Kartenquadranten eine Imagemap verwendet werden
# soll. Da dies anscheinend nur von Netscape unter FreeBSD/Linux
# unterstützt wird und auf anderen Systemen die Benutzung teilweise
# fatal ist, sollte diese Variable auf falsch gesetzt sein.
# $create_imagemap steuert die Erzeugung der Imagemap und kann ruhig auf
# wahr gesetzt werden.
$use_imagemap = 1; # XXX
$create_imagemap = 1;

# Zeigt die aktuellen Wetterdaten an.
$show_weather = 1;

# Gibt Links für URLs auf Start/Ziel aus.
$show_start_ziel_url = 1;

# Verwendung des cgi-bin-Layouts, d.h. in cgi-bin ist nur bbbike.cgi, der
# Rest ist in cgi-bin/BBBike
$use_cgi_bin_layout = 1;

# Kommandozeile für das Wetterprogramm
@weather_cmdline = ("$BBBIKE_ROOT/lib/wettermeldung2", qw(-dahlem1));

# Verwendung von <SELECT> statt <INPUT TYPE=RADIO>, wenn möglich
$use_select = 1;

# Experimentell: auch Suche von Landstraßen im Umland
$use_umland = 0;

# For debugging: be verbose
$VERBOSE = 0;

# preferred graphic format: png or gif
# *** If using GD 1.20 or newer, this *must* be set to png, otherwise
# the creation of graphics will not work!
#$graphic_format = 'gif';
$graphic_format = 'png';

$cannot_pdf = 0;
$can_palmdoc = 1;
$can_berliner_stadtplan_post = 1;

####################################################################

$can_mapserver = 1;

# Mapserver section
$mapserver_dir = "$APACHE_ROOT/htdocs/mapserver/brb";
$mapserver_prog_relurl = "/cgi-bin/mapserv";
if ($is_herceg_de) {
	$mapserver_prog_url = "http://radzeit.herceg.de/cgi-bin/mapserv";
} else {
	$mapserver_prog_url = "http://www.radzeit.de/cgi-bin/mapserv";
}
$bbd2esri_prog = "$BBBIKE_ROOT/miscsrc/bbd2esri";
if ($is_herceg_de) {
	$mapserver_bin_dir = "/usr/local/src/mapserver/mapserver-3.6.4";
	$mapserver_fonts_list = "fonts-vran.list";
} else {
	# This directory should also contain mapserv and shp2img
	$mapserver_bin_dir = "$APACHE_ROOT/cgi-bin";
	$mapserver_fonts_list = "fonts-radzeit.list";
}

$local_route_dir = "$APACHE_ROOT/htdocs/mapserver/touren";

# for mapserver_comment.cgi
@Mail_Send_open = ("smtp", Server => "mail.zrz.tu-berlin.de");

$bbbike_images = "/$BBBIKE_URL/images";
$bbbike_html = "/$BBBIKE_URL/html";

@Strassen::datadirs = "$BBBIKE_ROOT/data";

$BBBikeDraw::GD::TTF_STREET = "$APACHE_ROOT/htdocs/mapserver/brb/fonts/LucidaSansRegular.ttf";

# Do not use sessions, so I can see search results and image drawings in the
# logfile.
$use_apache_session = 0;

# wapbbbike section
#$wapbbbike_use_mapserver = 1;
$wapbbbike_use_mapserver = 0; # XXX problems!!!

# Otherwise bugs! cgi.t won't run cleanly
$use_exact_streetchooser = 1;

#do "$FindBin::RealBin/bbbike-temp-blockings.pl";
do "$BBBIKE_ROOT/data/temp_blockings/bbbike-temp-blockings.pl";

1;
