# Sample config file for converted osm data

require FindBin;
my $BBBIKE_ROOT = "$FindBin::RealBin/..";

@Strassen::datadirs = ("/tmp/data_dalmatien"); # set here directory with converted osm data - see osm2bbd
@PLZ::plzfile       = ("/nonexistent");

$PLZ::OLD_AGREP = $Strassen::OLD_AGREP = 1;

$debug = 1;
$VERBOSE = 1; # funktioniert nicht mit FCGI

#$can_mapserver = 1;
#$mapserver_prog_relurl = "/cgi-bin/mapserv";
## Cannot use $ENV{SERVER_NAME} because it is also called offline for mapserver template generation
#$mapserver_prog_url = "http://localhost$mapserver_prog_relurl";
#$mapserver_dir = "$BBBIKE_ROOT/mapserver/brb";
#$bbd2esri_prog = "$BBBIKE_ROOT/miscsrc/bbd2esri";
$use_utf8 = 1;
