# -*- cperl -*-
require FindBin;

do "$FindBin::RealBin/bbbike.cgi.config";

@weather_cmdline = ("$BBBIKE_ROOT/lib/parse_wetterkarte", qw(fetch_and_store -windrose));
$with_cat_display = 1; # experimental

# Compress all output?
#$use_cgi_compress_gzip = 1;

$include_outer_region = 1;

if (1) {
    my @l = localtime;
    my $m = $l[4]+1;
    $use_winter_optimization = ($m >= 11 || $m <= 3);
    do "/root/work/bbbike-webserver/etc/winter_hardness";
}

1; # may be required, should return true
