# -*- cperl -*-
require FindBin;

do "$FindBin::RealBin/bbbike.cgi.config";

# Quite uninteresting image formats, nowadays:
$can_gif = 1;
$can_wbmp = 1;

$ENV{PATH} .= ":/usr/local/bin" if $ENV{PATH} !~ m{/usr/local/bin}; # for netpbm
#$use_module = "Imager"; # slow
#$use_module = "ImageMagick"; # even slower...

#$search_algorithm = 'A*';
$search_algorithm = 'C-A*' unless $^O eq 'MSWin32'; # XXX really only on vran/biokovo!
##XXX unstable, segfaults, gives wrong results with blocked nets:
#$search_algorithm = 'C-A*-2';#XXX does not work ? ... See comment in StrassenNetz/CNetFilePerl.pm

$use_mysql_db = 1;
push @INC, "$FindBin::RealBin/../miscsrc"; # for Telbuch(DB)Approx

## Compress all output?
## Nowadays not needed, Apache2 can compress itself
#$use_cgi_compress_gzip = 1;

## Compress route maps (currently only for routes)?
## Not needed if PDFCairo is used
#$use_bbbikedraw_pdf_compress = 1;

# Show street categories in route list?
# XXX A candidate for gamma-fication!
$with_cat_display = 1;

# testing first...
$include_outer_region = 1;

if (1) {
    my @l = localtime;
    my $m = $l[4]+1;
    $use_winter_optimization = ($m >= 11 || $m <= 3);
    $winter_hardness = 'dry_cold';
}

1; # may be required, should return true
