$port = 22296;
if (!eval "require Cwd; 1") {
    eval 'sub Cwd::cwd { chomp($_ = `pwd`); $_ }';
    die $@ if $@;
}
if ($THE_OS =~ /^WIN(NT|95)$/) {
    require File::Basename;
    $htmldir = File::Basename::dirname
        (File::Basename::dirname
         (File::Basename::dirname($0)));
} else {
    if (eval "require File::Spec; 1") {
        $htmldir = File::Spec->catdir(Cwd::cwd(),
                                      File::Spec->updir,
                                      File::Spec->updir);
    } else {
        $htmldir = Cwd::cwd()."/../..";
    }
}
$cgisuffix = "\\.cgi";

$accesslogfile = tmpdir() . '/access_log';
$errorlogfile  = tmpdir() . '/error_log';
$debuglogfile  = tmpdir() . '/debug_log';

# REPO BEGIN
# REPO NAME tmpdir /home/e/eserte/src/repository 
# REPO MD5 c41d886135d054ba05e1b9eb0c157644

=head2 tmpdir()

=for category File

Return temporary directory for this system. This is a small
replacement for File::Spec::tmpdir.

=cut

sub tmpdir {
    foreach my $d ($ENV{TMPDIR}, $ENV{TEMP},
		   "/tmp", "/var/tmp", "/usr/tmp", "/temp") {
	next if !defined $d;
	next if !-d $d || !-w $d;
	return $d;
    }
    undef;
}
# REPO END

