/* - Do not hardcode background-image in css.
 * - background--attachment: fixed seems to be unintutive and slows down the
 *   Mozilla renderer
 */
body {
  background-color:#ffffff;
  font-family:sans-serif,helvetica,verdana,arial;
}
td,th,p,h2,li,input {
  font-family:sans-serif,helvetica,verdana,arial;
}
table.desc {
  vertical-align:top;
}
table.routelist td {
  vertical-align:top;
}
table.detailmap td {
  vertical-align:middle;
}
tt,pre {
  font-family:courier,fixed;
}
dt {
  font-weight:bold;
}
.hfill { width:100%; }
/* not interpreted by Gecko, wrong interpretation by IE 5.0 */
/* table.routelist > td { background-color:#ffcc66; } */
input.charmap {
  width: 270;
  height: 94;
  border: 0;
}
input.citymap {
  width: 200;
  height: 200;
  border: 0;
}
.nobr {
  white-space: nowrap;
}
tr.odd  { background-color: #ffcc66; }
tr.even { background-color: #ffdd88; }

a.ms:hover   { background-color:#FFFFFF; color:#000000; }
a.ms:link    { color:#000000; }
a.ms:visited { color:#333333; }

.new { font-weight:bold;color:#a00000; }

.teaserbox {
  width:100%;
  background-color:#ffdead;
  padding:4px;
  margin-bottom:4px;
}

.teaser {
  font-size:small;
}

.ftr  { text-align:center; background-color: #ffcc66; padding: 3; }

.experimental {
  border:1px red solid;
  color:red;
  padding:2px;
  margin:0px 8px 0px 8px;
  background-color:yellow;
  font-size:small;
}

.settingsreset {
  margin-left:1cm;
}

.box {
  border: 2px black solid;
  padding: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.box form {
  margin-bottom: 0px;
}

.graphfootnote {
  font-size:smaller;
  margin-top:8px;
}

