/* - Do not hardcode background-image in css.
 * - background--attachment: fixed seems to be unintutive and slows down the
 *   Mozilla renderer
 */
body {
  background-color:#ffffff;
  color:#000000;
  font-family:sans-serif,helvetica,verdana,arial;
}
td,th,p,h2,li,input {
  font-family:sans-serif,helvetica,verdana,arial;
}
table.desc {
  vertical-align:top;
}
table.routelist th {
  padding-left:3px;
  padding-right:3px;
}
table.routelist td {
  vertical-align:top;
  padding:2px 3px 2px 3px;
}
table.detailmap td {
  vertical-align:middle;
}
tt,pre {
  font-family:courier,monospace;
}
dt {
  font-weight:bold;
}
.hfill { width:100%; }
/* not interpreted by Gecko, wrong interpretation by IE 5.0 */
/* table.routelist > td { background-color:#ffcc66; } */
input.charmap {
  width: 270px;
  height: 94px;
  border: 0;
}
input.citymap {
  border: 0;
}
.nobr {
  white-space: nowrap;
}
tr.odd  { color: #000000; background-color: #ffcc66; }
tr.even { color: #000000; background-color: #ffdd88; }

a.ms:hover   { background-color:#FFFFFF; color:#000000; }
a.ms:link    { color:#000000; }
a.ms:visited { color:#333333; }

.new { font-weight:bold;color:#a00000; }

.teaserbox {
  width:100%;
  color: #000000;
  background-color:#ffdead;
  padding:4px;
  margin-bottom:4px;
}

.teaser {
  font-size:small;
}

.ftr  { text-align:center; background-color: #ffcc66; padding: 3px; }

.experimental {
  border:1px red solid;
  color:red;
  padding:2px;
  margin:0px 8px 0px 8px;
  background-color:yellow;
  font-size:small;
}

.settingsreset {
  margin-left:1cm;
}

.box {
  border: 2px black solid;
  padding: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.box form {
  margin-bottom: 0px;
}

.graphfootnote {
  font-size:smaller;
  margin-top:8px;
}

/* colors taken from bbbike.cgi, %category_color, but slightly varied (because of the ffdead'ish background color in table) */
.catB {
  background-color:#cd0000; /* red3 */
}
.catHH {
  background-color:#ffff00;
}
.catH {
  background-color:#ffff40;
}
.catNH {
  background-color:#ffffc0;
}
.catN {
  background-color:#ffffff; /* slightly different */
}
.catNN {
  background-color:#bdffbd;
}
.catfz {
  background-color:#cccccc;
  content:"?";
  vertical-align:middle;
  text-align:center;
}

.catcell {
  width:10px;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: black;
  padding: 0px 2px 0px 2px;
}

.catcellRW,.catcellBS,.catcellNS {
  width:10px;
  border-width: 0px 2px 0px 4px;
  border-style: solid;
  border-right-color: black;
  padding: 0px 2px 0px 2px;
}
.catcellRW {
  border-left-color: blue;
}
.catcellBS {
  border-left-color: rgb(255,165,0);
}
.catcellNS {
  border-left-color: white;
}

.pseudolink {
  margin-bottom:2px;
}

.pseudolink span {
 border-bottom: dashed black 1px;
}

.pseudolink span:hover {
  background-color:yellow;
}

.selectedflag {
  padding:2px;
  border:2px solid black;
}

.unselectedflag {
  padding:4px;
}

.dottedlink {
  text-decoration:none;
  border-bottom: 1px dotted black;
}

.yellowbox {
  background-color: #e0e090;
  border: 1px #d0d040 solid;
  padding: 2px;
}

.error {
  color:red;
  font-weight:bold;
}

.newstrattrhead {
  vertical-align:top;
  font-weight:bold;
  font-size:larger;
}
