/* - Do not hardcode background-image in css.
 * - background--attachment: fixed seems to be unintutive and slows down the
 *   Mozilla renderer
 */
body {
  background-color:#ffffff;
  font-family:sans-serif,helvetica,verdana,arial;
}
td,th,p,h2,li,input {
  font-family:sans-serif,helvetica,verdana,arial;
}
table.desc,td {
  vertical-align:top;
}
table.detailmap td {
  vertical-align:middle;
}
tt,pre {
  font-family:courier,fixed;
}
dt {
  font-weight:bold;
}
.hfill { width:100%; }
/* not interpreted by Gecko, wrong interpretation by IE 5.0 */
/* table.routelist > td { background-color:#ffcc66; } */
input.charmap {
  width: 270;
  height: 94;
  border: 0;
}
input.citymap {
  width: 200;
  height: 200;
  border: 0;
}
.nobr {
  white-space: nowrap;
}
tr.odd  { background-color: #ffcc66; }
tr.even { background-color: #ffdd88; }

a.ms:hover   { background-color:#FFFFFF; color:#000000; }
a.ms:link    { color:#000000; }
a.ms:visited { color:#333333; }

.new { font-weight:bold;color:#a00000; }

.teaserbox {
  width:100%;
  background-color:#ffdead;
  padding:4px;
  margin-bottom:4px;
}

.teaser {
  font-size:small;
}
