/* CSS for print mode */
body {
  background-color:#ffffff;
  font-family:sans-serif,helvetica,verdana,arial;
  font-size:x-small;
}
td,th,p,h2,li,input {
  font-family:sans-serif,helvetica,verdana,arial;
}
table.desc,td {
  vertical-align:top;
}
table.detailmap td {
  vertical-align:middle;
}
tt,pre {
  font-family:courier,fixed;
}
dt {
  font-weight:bold;
}
.hfill { width:100%; }
.nobr {
  white-space: nowrap;
}
table.print {
  border: 1px solid black;
  border-collapse: collapse;
}
table.print td, table.print th {
  border: 1px solid black;
}
table.routelist td, table.routelist th {
  padding:2px 3px 2px 3px;
}
