/*.inx
/*.inx.lock
/*.inx2
/*.inx3
/*.inx4
/*.inx4.lock
/*.st
/.*.tmp
/.check_*
/.create_fragezeichen
/.fragezeichen-*
/.modified
/.rsync_include
/datachange.log
/fragezeichen-cooked
/landstrassen-cooked
/landstrassen2-cooked
/strassen-cooked
/wasserstrassen-lowres
# It is currently not clear whether this file will be public some day or not:
/comments_danger
# "make" creates a lot of ~ files
/*~
