/Berlin.coords.data
/Potsdam.coords.data
/berlin
/comments_cyclepath
/comments_danger
/comments_ferry
/comments_misc
/comments_mount
/comments_route
/comments_scenic
/comments_tram
/faehren
/green
/handicap_l
/handicap_s
/landstrassen2
/oldnames
/orte
/orte2
/orte_city
/plaetze
/qualitaet_l
/qualitaet_s
/upgrade_scope_hint
/wasserstrassen
/wasserumland
/wasserumland2
