/Berlin.coords.data
/Potsdam.coords.data
/berlin
/comments_cyclepath
/comments_danger
/comments_misc
/comments_mount
/comments_route
/comments_scenic
/comments_trafficjam
/comments_tram
/green
/handicap_l
/handicap_s
/inaccessible_landstrassen
/inaccessible_strassen
/landstrassen-cooked
/landstrassen2
/landstrassen2-cooked
/oldnames
/orte
/orte2
/orte_city
/plaetze
/qualitaet_l
/qualitaet_s
/strassen-cooked
/upgrade_scope_hint
/wasserstrassen
/wasserumland
/wasserumland2
