.ftr  { text-align:center; background-color: #ffcc66; padding: 3; }
.pwrdb { background-color: #000000; width:100%; }
.pwrd  { font-size:small; font-weight:bold; color:#ffffff; }
.smb  { font-size:x-small; width:100%; }
.smb1 { font-size:x-small; } /* again for MSIE 5.0 */
.smb2 { font-size:x-small; } /* does not work with NS6.0: padding-left:5px; padding-right:5px; } */
.hfb { width:100%; }
.lyrchk { font-size:small; }
.msg { color:#800000; font-weight:bold; border:#800000 solid 2px; padding:3px; margin:3px 3px 10px 3px; }
a:visited { color:#0000ee; }
a { color:#0000ee; }
a.moreinfo { border-bottom: dotted blue 1px; text-decoration: none; }
